In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import re

## VOA column headers

I can't find the VOA column headers so have had to take them from the data description pdf [here](https://voaratinglists.blob.core.windows.net/html/documents/2017%20Compiled%20List%20and%20SMV%20Data%20Specification.pdf)

In [3]:
VOA_headers_raw= ["Incrementing Entry Number", "Billing Authority Code", "NDR Community Code", 
 "BA Reference Number", "Primary And Secondary Description Code", "Primary Description Text",
"Unique Address Reference Number UARN", "Full Property Identifier", "Firms Name", "Number Or Name",
"Street", "Town", "Postal District", "County", "Postcode", "Effective Date", "Composite Indicator",
 "Rateable Value", "Appeal Settlement Code", "Assessment Reference", "List Alteration Date", "SCAT Code And Suffix",
 "Sub Street level 3", "Sub Street level 2", "Sub Street level 1", "Case Number", 
 "Current From Date", "Current To Date", 
]

#set to lower and replace spaces with underscore to turn the names into appropriate column names
VOA_headers = [x.lower().replace(" ", "_") for x in VOA_headers_raw]

Using the attention mechanism dramatically improves the quality of the results, but there are still some substantial issues

In [4]:
voa_businesses =  pd.read_csv('/tf/empty_homes_data/' +
                    'uk-englandwales-ndr-2017-listentries-compiled-epoch-0029-baseline-csv.csv',
                   sep = "*",
                   encoding_errors= 'ignore',
                    header=None,
                   names = VOA_headers[1:],
                    usecols = list(range(1,28))
                   )
voa_businesses['postcode'] = voa_businesses['postcode'].str.upper()

#Create a dataframe that contains the counts of businesses per postcode
postcode_counts_voa = voa_businesses.groupby('postcode').size().reset_index(name = 'business_counts')

<ipython-input-4-0afde0e66eed>:1: DtypeWarning: Columns (1,2,6,12,13,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  voa_businesses =  pd.read_csv('/tf/empty_homes_data/' +

In [5]:
voa_businesses["street"]

0             ABBEYFIELDS
1             ABBEYFIELDS
2             ADAMS CLOSE
3             ADAMS CLOSE
4             ADAMS CLOSE
                ...
2553594       HAMLET ROAD
2553595    WHITING STREET
2553596     HOLLANDS ROAD
2553597     HOLLANDS ROAD
2553598          FEN BANK
Name: street, Length: 2553599, dtype: object

In [6]:
voa_businesses#.iloc[:, 6:14]

,billing_authority_code,ndr_community_code,ba_reference_number,primary_and_secondary_description_code,primary_description_text,unique_address_reference_number_uarn,full_property_identifier,firms_name,number_or_name,street,...,appeal_settlement_code,assessment_reference,list_alteration_date,scat_code_and_suffix,sub_street_level_3,sub_street_level_2,sub_street_level_1,case_number,current_from_date,current_to_date
0,235,NaN,3000837,MH,SURGERY AND PREMISES,4159370000,"MEDICAL CENTRE, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,MEDICAL CENTRE,ABBEYFIELDS,...,NaN,2.345050e+10,01-JUL-2020,436G,NaN,NaN,NaN,3.427498e+10,01-JUL-2020,NaN
1,235,NaN,3000449,EL,SCHOOL AND PREMISES,8871511000,"ELSTOW SCHOOL, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,ELSTOW SCHOOL,ABBEYFIELDS,...,NaN,2.038070e+10,11-MAR-2019,159G,NaN,NaN,NaN,3.334318e+10,11-MAR-2019,NaN
2,235,NaN,3001255,IF,FACTORY AND PREMISES,287299011,"5, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,5,ADAMS CLOSE,...,NaN,1.574437e+10,NaN,096G,NaN,NaN,NaN,2.096310e+10,01-APR-2017,NaN
3,235,NaN,1077209,IF3,WORKSHOP AND PREMISES,456757000,"WOBURN HOUSE 3, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,WOBURN HOUSE 3,ADAMS CLOSE,...,NaN,1.574433e+10,NaN,096G,NaN,NaN,NaN,2.092087e+10,01-APR-2017,NaN
4,235,NaN,1132714,IF,FACTORY AND PREMISES,287049011,"1, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,1,ADAMS CLOSE,...,NaN,2.145827e+10,06-NOV-2019,096G,NaN,NaN,NaN,3.363070e+10,06-NOV-2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553594,3545,NaN,401107480030,CO,OFFICES AND PREMISES,13296010000,"OFFICES 6-8 1ST FLOOR, WEAVERS BUSINESS CENTR...",NaN,OFFICES 6-8 1ST FLOOR,HAMLET ROAD,...,NaN,2.389786e+10,25-MAY-2021,203G,NaN,NaN,WEAVERS BUSINESS CENTRE 6,3.534281e+10,25-MAY-2021,NaN
2553595,3545,NaN,400718980142,CO,OFFICES AND PREMISES,13296011000,"ROOMS G/H, HOSTE HOUSE REFORMED CHURCH, WHITIN...",NaN,ROOMS G/H,WHITING STREET,...,NaN,2.389786e+10,25-MAY-2021,203G,NaN,NaN,HOSTE HOUSE REFORMED CHURCH,3.534281e+10,25-MAY-2021,NaN
2553596,3545,NaN,401146540116,CO,OFFICE AND PREMISES,13511012000,"UNIT 6, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 6,HOLLANDS ROAD,...,NaN,2.431176e+10,08-NOV-2021,203G,NaN,NaN,MENTA BUSINESS CENTRE 21-27,3.560966e+10,08-NOV-2021,NaN
2553597,3545,NaN,401146540114,CO,OFFICE AND PREMISES,13511008000,"UNIT 5, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 5,HOLLANDS ROAD,...,NaN,2.431171e+10,08-NOV-2021,203G,NaN,NaN,MENTA BUSINESS CENTRE 21-27,3.560965e+10,08-NOV-2021,NaN
2553598,3545,NaN,439110070082,CH1,SELF CATERING HOLIDAY UNIT AND PREMISES,13511033000,"82, SANDPIPER, ISLEHAM MARINA, FEN BANK, ISLEH...",NaN,82,FEN BANK,...,NaN,2.422966e+10,25-OCT-2021,131G,NaN,SANDPIPER,ISLEHAM MARINA,3.560971e+10,25-OCT-2021,NaN

## Find business counts per postcode

In [4]:
ocod_data =  pd.read_csv('/tf/empty_homes_data/' +
                    'OCOD_FULL_2022_02.csv',
                   encoding_errors= 'ignore').rename(columns = lambda x: x.lower().replace(" ", "_"))
ocod_data['postcode'] = ocod_data['postcode'].str.upper()
ocod_data = ocod_data.dropna(subset = 'property_address')
ocod_data.reset_index(inplace = True, drop = True)
ocod_data['property_address'] = ocod_data['property_address'].str.lower()
#ocod_data['postcode'] = ocod_data['postcode'].str.replace(" ", "")

<ipython-input-4-10b198a5ff45>:1: DtypeWarning: Columns (24,28,30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  ocod_data =  pd.read_csv('/tf/empty_homes_data/' +

In [5]:

flatregex = "(the.+)?(flat|apartment|penthouse)(s)?(\\s(no)?(\\S+?)(\\s|,)(\\s?(to|-)\\s?.+?(\\s|,))?|,)"
flatregex2 = "^(^[0-9]+([a-z])?)(( \\w+)('s)?)+ (court|villas|mansions)"
ocod_data['flat_tag'] = ocod_data['property_address'].str.contains(flatregex + '|'+flatregex2, case = False)

commercial_regex = "(cinema)|(hotel)|(office)|(pub)|(business)|(cafe)|(^shop)|( shop)|(restaurant)|unit"
ocod_data['business_tag'] = ocod_data['property_address'].str.contains(commercial_regex, case = False)

ocod_data['carpark_tag'] = ocod_data['property_address'].str.contains("^car |^park|^garage", case = False)
#ocod_data['garage_tag'] = ocod_data['property_address'].str.contains("", case = False)

ocod_data['land_tag'] = ocod_data['property_address'].str.contains("^(land|plot)", case = False)

ocod_data['airspace_tag'] = ocod_data['property_address'].str.contains("^airspace", case = False)

named_house_regex = "^([a-z]+)( [a-z]+)* (house|court|farm|villa|cottage|lodge)(s)?"
ocod_data['named_house_tag'] = ocod_data['property_address'].str.contains(named_house_regex, case = False)

ocod_data['comma_counts'] = ocod_data['property_address'].str.count(",")


#this regex indicates that there are multple properties in the format "xx to yy" or "xx-yy" way of writing things
xx_to_yy_regex = '(\\d)(\\s?(to|-)\\s?)(\\d)'#'(\\s(no)?(\\S+?)(\\s|,)(\\s?(to|-)\\s?.+?(\\s|,))?|,)'
odds_evens_regex = '(\\s|\\()?(odd|even)'
plural_dwelling_regex = '(flats|apartments|penthouses|houses)'
ocod_data['xx_to_yy'] = ocod_data['property_address'].str.contains(xx_to_yy_regex )
ocod_data['odds_evens'] = ocod_data['property_address'].str.contains(odds_evens_regex)
ocod_data['plural_dwelling'] = ocod_data['property_address'].str.contains(plural_dwelling_regex)

<ipython-input-5-b1b199e6937b>:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['flat_tag'] = ocod_data['property_address'].str.contains(flatregex + '|'+flatregex2, case = False)
<ipython-input-5-b1b199e6937b>:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['business_tag'] = ocod_data['property_address'].str.contains(commercial_regex, case = False)
<ipython-input-5-b1b199e6937b>:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['land_tag'] = ocod_data['property_address'].str.contains("^(land|plot)", case = False)
<ipython-input-5-b1b199e6937b>:16: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['named_house_tag'] = ocod_data['property_address'].str.contains(named_house_regex, case = False)
<ipython-input-5-b1b199e6937b>:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['xx_to_yy'] = ocod_data['property_address'].str.contains(xx_to_yy_regex )
<ipython-input-5-b1b199e6937b>:26: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['odds_evens'] = ocod_data['property_address'].str.contains(odds_evens_regex)
<ipython-input-5-b1b199e6937b>:27: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['plural_dwelling'] = ocod_data['property_address'].str.contains(plural_dwelling_regex)

In [15]:
test_regex = r"((\d+)(\s?(to|-)\s?)(\d+)\b)(?!(\s([a-z])+('s)?)+(\s(road|street|lane|wayavenue|close|drive|hill|place|terrace|crescent|gardens|square|walk|grove|mews|row)))"
ocod_data['property_address'].str.contains(test_regex).sum()

<ipython-input-15-97063ddfa5ee>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ocod_data['property_address'].str.contains(test_regex).sum()

4255

In [84]:
 ocod_data[ocod_data['property_address'].str.contains('excluding', case = False)==True]

,title_number,tenure,property_address,district,county,region,postcode,multiple_address_indicator,price_paid,proprietor_name_(1),...,flat_tag,business_tag,carpark_tag,land_tag,airspace_tag,named_house_tag,comma_counts,xx_to_yy,odds_evens,plural_dwelling
38,SYK594298,Freehold,"1-25 (excluding 13) acorn way, sunnyside, roth...",ROTHERHAM,SOUTH YORKSHIRE,YORKS AND HUMBER,S66 3XH,N,NaN,ABACUS LAND 1 (HOLDCO 1) LIMITED,...,False,False,False,False,False,False,2,True,False,False
1901,NGL421367,Freehold,the open ended garage in the basement of the b...,CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,NaN,N,NaN,38 TP LIMITED,...,False,False,False,False,False,False,1,False,False,False
5590,HD416123,Freehold,"1 to 16 (excluding 13) barge house, evans whar...",DACORUM,HERTFORDSHIRE,SOUTH EAST,HP3 9WE,N,NaN,ADRIATIC LAND 11 LIMITED,...,False,False,False,False,False,False,2,True,False,False
7758,236218,Freehold,17 to 27 (odd)(excluding 19) hill street and 3...,CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,NaN,N,NaN,BERKELEY SQUARE HOLDINGS LIMITED,...,False,False,False,False,False,False,6,True,True,False
19975,NGL585687,Leasehold,parts of 71 queen victoria street as more part...,CITY OF LONDON,GREATER LONDON,GREATER LONDON,NaN,N,NaN,QUEEN V PROPERTY UK I LTD,...,False,False,False,False,False,False,0,False,False,False
29454,NGL881926,Leasehold,10 old burlington street excluding parts of th...,CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,NaN,N,NaN,10-13 OLD BURLINGTON STREET LIMITED,...,False,False,False,False,False,False,0,False,False,False
32870,SYK594213,Leasehold,1 to 69 (odd but excluding 13) and 2 to 44 (ev...,SHEFFIELD,SOUTH YORKSHIRE,YORKS AND HUMBER,NaN,N,3902021.0,ADRIATIC LAND 3 LIMITED,...,False,False,False,False,False,False,0,True,True,False
42138,EGL375156,Leasehold,"floor 36 (excluding common parts), 1 canada sq...",TOWER HAMLETS,GREATER LONDON,GREATER LONDON,E14 5DX,N,NaN,EULER HERMES CREDIT INSURANCE BELGIUM SA (NV),...,False,False,False,False,False,False,2,False,False,False
42182,AGL470670,Leasehold,airspace from a height of 30.300 metres above ...,HACKNEY,GREATER LONDON,GREATER LONDON,N1 6AZ,N,NaN,O & R LIMITED,...,False,False,False,False,True,False,3,False,False,False
42273,BM252802,Leasehold,two parcels of land forming part of great west...,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,SOUTH EAST,NaN,N,NaN,ROCKSPRING UK VALUE 2 AYLESBURY (JERSEY) LIMITED,...,False,False,False,False,False,False,3,False,False,False
56987,NGL804993,Leasehold,"1 to 16 frognal parade, 1 to 12 and 14 to 45 f...",CAMDEN,GREATER LONDON,GREATER LONDON,NaN,N,NaN,F & M (INVESTMENT HOLDINGS) LIMITED,...,False,False,False,False,False,False,11,True,False,False
68334,EGL385014,Leasehold,"exchange tower building, two harbour exchange ...",TOWER HAMLETS,GREATER LONDON,GREATER LONDON,NaN,N,NaN,CARETOWN LIMITED,...,False,False,False,False,False,False,4,False,False,False
86301,NGL799073,Leasehold,"the lower ground, ground, first, second, third...",CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,W1S 1DQ,N,NaN,GIORGIO ARMANI RETAIL S.R.L.,...,False,False,False,False,False,False,7,False,False,False

In [14]:
ocod_data.columns

Index(['title_number', 'tenure', 'property_address', 'district', 'county',
       'region', 'postcode', 'multiple_address_indicator', 'price_paid',
       'proprietor_name_(1)', 'company_registration_no._(1)',
       'proprietorship_category_(1)', 'country_incorporated_(1)',
       'proprietor_(1)_address_(1)', 'proprietor_(1)_address_(2)',
       'proprietor_(1)_address_(3)', 'proprietor_name_(2)',
       'company_registration_no._(2)', 'proprietorship_category_(2)',
       'country_incorporated_(2)', 'proprietor_(2)_address_(1)',
       'proprietor_(2)_address_(2)', 'proprietor_(2)_address_(3)',
       'proprietor_name_(3)', 'company_registration_no._(3)',
       'proprietorship_category_(3)', 'country_incorporated_(3)',
       'proprietor_(3)_address_(1)', 'proprietor_(3)_address_(2)',
       'proprietor_(3)_address_(3)', 'proprietor_name_(4)',
       'company_registration_no._(4)', 'proprietorship_category_(4)',
       'country_incorporated_(4)', 'proprietor_(4)_address_(1)',
       'proprietor_(4)_address_(2)', 'proprietor_(4)_address_(3)',
       'date_proprietor_added', 'additional_proprietor_indicator', 'flat_tag',
       'business_tag', 'carpark_tag', 'land_tag', 'airspace_tag',
       'named_house_tag', 'comma_counts', 'xx_to_yy', 'odds_evens',
       'plural_dwelling'],
      dtype='object')

In [11]:
columns_of_interest = ['title_number', 'tenure', 'property_address', 'district', 'county',
       'region', 'postcode', 'multiple_address_indicator', 'price_paid',
      'flat_tag',
       'business_tag', 'carpark_tag', 'land_tag', 'named_house_tag',
       'comma_counts', 'plural_dwelling', 'xx_to_yy','odds_evens',
       'odds_evens']

In [57]:
#ocod_data.loc[(ocod_data['xx_to_yy']==True) | (ocod_data['plural_dwelling']==True)| (ocod_data['odds_evens']==True),columns_of_interest].to_csv('/tf/empty_homes_data/multi_flat.csv')

In [60]:
ocod_data.groupby(['business_tag' ]).size()

business_tag
False    88624
True      5464
dtype: int64

In [6]:
ocod_data[(ocod_data['property_address'].str.contains("apartments ", case = False)==True) & 
         (ocod_data['property_address'].str.contains(" land", case = False)!=True) &
         (ocod_data['property_address'].str.contains("^land", case = False)!=True)].to_csv("/tf/empty_homes_data/multiple_apartments.csv")

In [12]:
#add in the counts of businesses in that postcode
ocod_data = pd.merge(ocod_data, postcode_counts_voa, on = "postcode", how = "left")
ocod_data["business_counts"] = ocod_data["business_counts"].fillna(0)

In [13]:
#classify the property type using this tree structure. 
#N.B. If you use the conditions in a different order you will get differencet results
#This produces rule based noisey labels. The idea is to have a good enough system that can be improved on
ocod_data['class'] = np.select(
    [
        ocod_data['flat_tag']==True,
        ocod_data['land_tag'] == True,
        ocod_data['carpark_tag'] == True,
        ocod_data['airspace_tag'] == True,
        ocod_data['business_tag'] == True,
        ocod_data['business_counts']==0,
    ], 
    [
        'domestic', 
        'land',
        'carpark',
        'airspace',
        'business',
        'domestic'
    ], 
    default='unknown'
)

In [29]:
#ocod_data[(ocod_data['business_counts']==0 )& (ocod_data['business_tag'])]
ocod_data[(ocod_data['class']=='unknown' )]
ocod_data['property_address'].sample(n=10000).to_csv('/tf/empty_homes_data/offshore_addresses.csv', header = False)

In [14]:
ocod_data.groupby('class').size()

class
airspace     1569
business     4927
carpark      2178
domestic    45368
land        16477
unknown     23569
dtype: int64

# processing multi addresses 

The multi addresses are quite difficult to use. 
This is section is to help process them

In [34]:
 multi_address = ocod_data.loc[:, columns_of_interest][(ocod_data['comma_counts']>5) | (ocod_data['plural_dwelling']==True) | (ocod_data['xx_to_yy']==True) | (ocod_data['odds_evens']==True)]

In [40]:
multi_address[ 'property_address']

13       2-24 (even) Miller Way, 15-25 Hammonds Drive (...
38       1-25 (excluding 13) Acorn Way, Sunnyside, Roth...
46       70 To 98 (even), Weavermill Park, Ashton In Ma...
48       1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 16, 18,...
56       2 and 4 Colliers Grove, 16 Gadfield Grove, 11,...
                               ...
94008                   Units, 1-5 Brewery Road, Hoddesdon
94030                           1-21 Gatcombe Mews, Ealing
94048    50 to 55 (inclusive), 62 to 73 (inclusive) and...
94050    14-50 (even), Windermere Drive, Doncaster (DN4...
94059    Sixth Floor Premises, 6-8 Tokenhouse Yard, Lon...
Name: property_address, Length: 9479, dtype: object

In [41]:
multi_address['property_address'].to_list()

['2-24 (even) Miller Way, 15-25 Hammonds Drive (odd) and 1-19 Rudd Close (odd) Fengate, Peterborough',
 '1-25 (excluding 13) Acorn Way, Sunnyside, Rotherham (S66 3XH)',
 '70 To 98 (even), Weavermill Park, Ashton In Makerfield, Wigan (WN4 9EZ)',
 '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 16, 18, 19, 21 and 22 Heath House Close, Lowton, and 106 and 108 Stone Cross Lane North, Lowton, Warrington',
 '2 and 4 Colliers Grove, 16 Gadfield Grove, 11, 12, 16, 19, 21, 22, 24-30, 32, 33, 35-37 and 41 Albion Close, Atherton, Manchester',
 '2 to 4 and 6 to 11 (inclusive), Junction Close, Blackrod, Bolton (BL6 5GN)',
 '3 and 5 Bloomsbury Crescent, 2, 4, 7, 9, 11, 12 and 14 Burlington Drive and 2, 3, 5, 14 and 16 Windsor Gardens, Bolton',
 '59 and 71 Lawnhurst Avenue, Apartment 8, 240 Lawnhurst Avenue, Apartments 3, 8 and 13, 242 Lawnhurst Avenue, Apartment 6, 244 Lawnhurst Avenue, Apartments 4 and 9, 246 Lawnhurst Avenue and Apartment 13, 248 Lawnhurst Avenue, Wythenshawe, Manchester',
 '6, 15, 16, 17, 20, 21, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 39, 40, 41, 42 and 44 Ann Street, Hyde (SK14 2BA)',
 '2, 4, 8, 10 and 14 Abelia Road, 1, 54, 68, 70, 74, 76, 78 and 80 Hydrangea Close Westhoughton, Bolton',
 '15 and 52 to 58 (even), Celandine View, Soham, Ely and garages and parking spaces (CB7 5DP)',
 '33-63 (odd), Stadium Approach, Aylesbury',
 '1-5 Haddonbrook Business Centre, Fallodan Road, Orton Southgate, Peterborough (PE2 6YX)',
 'Land on the south side of 21-51 Seaton Lane, Hartlepool',
 '5-7 Princes Square, London (W2 4NP)',
 'Garage No 3 at the back of Lexham House 45 to 53 Lexham Gardens, London (W8 5JT)',
 "Queen Anne's Chambers, 22 to 32 (even numbers) Broadway and 37 to 45 (odd numbers) Tothill Street, London",
 '5,7 and 9 Seven Sisters Road, London (N7 6AJ)',
 'Land being part of 16-18 Hatton Garden, London (EC1N 8AT)',
 '186-188 Trafalgar Road, Greenwich, London (SE10 9TZ)',
 'Land comprising 0S2781, 0S3871 and 0S2174 in the Parishes of Woodditton and Kirtling',
 'Hambleton House, 16 Vicarage Lane, Woodditton, Newmarket (CB8 9SG)',
 'Flats 1-9, 1 Draybank Road, Flats 1-9, 23 Draybank Road, 6, 11 and 13 Daisygate Drive and 1 and 2 Stockdove Mews, Broadheath, Altrincham',
 'Plots 290-294, Clopton, Stratford-Upon-Avon',
 'Land and buildings on the north side of Stourbridge Road, 47 Stourbridge Road, 39 to 44 Chapel Street and land and buildings on the east and west sides of Pedmore Road',
 'St Brides House, 10 and 11 Salisbury Square, and 1-4 Dorset Buildings, London',
 'Basement Premises, 45-46 Berners Street, London (W1T 3NE)',
 '2-6 Inverness Terrace, London (W2 3HU)',
 'Point A Hotel, 8-10 Paul Street, London (EC2A 4JH)',
 '1, 1A, 1B, 1C, 3, 3A, 5 and 7 Euston Road, London',
 '54-55 High Street, Newport (NP20 1GA)',
 'Nolton Arcade & 12 to 26 (even) Nolton Street, Bridgend',
 '6,10,12,16,18,22 Yew Grove, 3,15 Yew Grove and garages. 10,14,16 Sycamore Court and garages. 5,6,7 Oak Court and 8 and 10 Oak Court and garages. 3 and 8 Ash Court and 1,2,3,4,7,8,10,12,14,25,27,28,32 and 33 Woodfield Park Crescent and 19,21,22,26 and 34 Woodfield Park Crescent and garages',
 'Plots 2,3,4,5,6 And 24, Glatton Road, Sawtry, Huntingdon',
 '7, 8, 10, 19, 26, 27 and 28 Douglas Court, Ely (CB7 4SE)',
 '5 - 11(odd) Stone Hill, St Neots (PE19 6AP) and 189 - 211 (odd) Cambridge Road, St Neots (PE19 6AH)',
 '28-36 (even), Stokes Drive, Godmanchester, Huntingdon (PE29 2UU)',
 '1-11 (odd), Thames Road, Huntingdon (PE29 1QW)',
 '35-37 Dudley Street, Wolverhampton (WV1 3ER)',
 '109-117 (odd), High Street, Kings Heath, Birmingham (B14 7BU)',
 '21-35 (odd) and 60-64 (even) Birley Rise Road, Sheffield',
 '58-59 Hall Gate, Doncaster (DN1 3PB)',
 'Osborne House, 111-113 Bartholomew Road, London (NW5 2BJ)',
 '6-8 St Christophers Place, London (W1U 1ND)',
 'Royal Eagle Hotel, 26-30 Craven Road, London (W2 3QB)',
 '8, 11, 14, 15, 16, 18, 24, 25, 29 and 34 Coed-y-Brain, Llanbradach',
 'Units 1 to 7 and Units 9 to 18, Rising Sun Industrial Estate, High Street, Blaina',
 '12 Little Ditton, Woodditton, Newmarket (CB8 9SA)',
 '15 - 54 Wren Walk, Eynesbury, St Neots (PE19 2GE), 52, 54, 56, 67, 69 and 71 Bevington Way, Eynesbury, St Neots (PE19 2HQ) and 73 - 89 (odd) Flawn Way, Eynesbury, St Neots (PE19 2JT)',
 'Station Inn, Bristol Road and the site of 3 to 21 (odd numbers) Heeley Road, Bournbrook (B29 6DP)',
 'THE BOND, 180-182 FAZELEY STREET, BIRMINGHAM B5 5SE',
 '5 to 21 (odd) Market Place,  Sheffield  (S1 2GH)',
 '3 to 5 (odd) Tadcaster Road, Sheffield',
 '44-62 Pinstone Street, Sheffield',
 '2 to 10 (even) Amelias Lane and 2 to 60 (even) Columbia Place, Campbell Park, Milton Keynes (MK9 4AU)',
 '37-71 Manning Gardens, Croydon (CR0 7DU)',
 '2-3 Aldridge Place, Rogers Lane, Stoke Poges, Slough (SL2 4LL)',
 '1-8 Farrington Court, 54c Widmore Road, Bromley (BR1 3BD)',
 'Ground to Second Floor Flats being 1 to 16 (inclusive) Billsley Court, 1 Dagmar Road, London and parking spaces (SE25 6HZ)',
 '78 to 86 (even numbers), Parade, Leamington Spa (CV32 4DA)',
 '76-78 Inverness Mews, London (W2 3JQ)',
 'Euro Hotel, 79-81 Clapham Common South Side, London (SW4 9DQ)',
 '1, 4, 6, 32, 35, 47, 50, 55, 82 and 93 Greenacres, South Cornelly',
 '78-80 John Street, Porthcawl (CF36 3BD)',
 'Flat 38, Green Dragon House, 64-70 High Street, Croydon (CR0 1FS)',
 'Flat 2, 131-139 The Broadway, London (SW19 1QJ)',
 '1 to 9 (Inclusive), Pearl Court, Garnet Road, Erith (DA8 2FG)',
 '64-80 Cambridge Road, Kingston Upon Thames (KT1 3FB)',
 'Canterbury House, 2-6 Sydenham Road, Croydon (CR0 9XE)',
 'First Floor, Rear Suite Offices, Ashville House, 131-139 The Broadway, London (SW19 1JQ)',
 '1-5 Jasper Court, Rainbow Road and, 190 Rainbow Road, Erith (DA8 2EQ)',
 'ground floor and basement units, 3-5 High Street, Bromley (BR1 1LF)',
 '1 to 3 The Green and 11 and 13 King Street, Thorne',
 '1 to 27 (odd) Amelia Street, 182 to 202 (even) Walworth Road and 2 to 28 (even) Manor Place and land and buildings at the back thereof, London',
 'Regency House, 1-4 Warwick Street, London (W1B 5LT)',
 "Bishops House, 4 to 13 (all) High Holborn and 1 to 23 (odd) Gray's Inn Road, Holborn, London",
 'Land and buildings at the back of 6 and 8 and land and buildings at the back of 1 to 11 (odd) Wyndham Gardens, Blackpool (FY4 3NX)',
 'Flats 17-24 (inclusive), 1-3 Cable Street, Lancaster (LA1 1BP)',
 '383 to 401 (odd) 405 to 437 (odd) 445, 447 and 453 to 459 (odd) Main Road',
 '79-81 Hollis Croft, Sheffield (S1 4BG)',
 '38-40 Fargate, Sheffield (S1 2HE)',
 'second - lower floor store pods SA054, SA055, SA056 and SA058, SA059, SA060, SA061 and SA062 Unit 2, Clarke Industrial Estate, St Modwen Road, Stretford, Manchester (M32 0ZF)',
 '70 and 72 Whirlowdale Crescent, 4 to 18 (even) Minto Road and 99 to 107 (odd) Middlewood Road, Sheffield',
 'Units 1 to 5, Swinderby Industrial Park, Camp Road, Swinderby, Lincoln',
 '94 to 102 (even), West Street Retail Park, West Street, Boston (PE21 8QN)',
 'Bainbridge House And, 84-96 London Road, Manchester (M1 2PW)',
 '143 to 151 (odd) Clarence Street, Kingston-upon-Thames (KT1 1QT)',
 '29-43 (odd) Dagmar Road, Kingston upon Thames, (KT2 6DP)',
 'The Ground Floor, 7-8 Elm Parade, Main Road, Sidcup, (DA14 6NF)',
 'Flats 1 to 10, The Briar, 43 Thicket Road, Sutton (SM1 4QY) and storage area',
 'Flat 139, Rede House, 63-75 Corporation Road, Middlesbrough (TS1 1LG)',
 'Flat 307, Rede House, 63-75 Corporation Road, Middlesbrough (TS1 1LR)',
 '204-206 High Street, Bromley (BR1 1PW)',
 '108-110 High Street, New Malden (KT3 4EU)',
 'Unit 8, 31-37 The Broadway, Wimbledon, London (SW19 1QB)',
 '43-47 Red Bank Road, Blackpool (FY2 9HX)',
 '1-3 Market Place, Market Deeping, Peterborough (PE6 8EA)',
 'Units 5A, 5B, 6A, 6B, 7A, 7B, 8A, 8B, 9A, 9B, 10A and 10B, Synergy Business Park, Stanney Mill Road, Little Stanney, Chester (CH2 4GY)',
 '34 to 42 (even) Roe Street, Macclesfield (SK11 6AY)',
 '19 to 27 (odd) St Werburgh Street, Chester (CH1 2DY)',
 '17-19 Fishergate, Preston (PR1 3NN)',
 '21-24 Grosvenor Place, London (SW1X 7HN)',
 '6-7 Grosvenor Place, London SW1X 7SH and 50 Headfort Place, London',
 '190, 192, 194, 196, 198, 198A, 200, 202 and 204 Kensington Church Street and 7 to 25 (odd numbers) Rabbit Row, London',
 '28 to 36 (even), Shuttle Drive, Heywood (OL10 3FJ)',
 '12-14 Regent Place, Birmingham (B1 3NJ)',
 'Car Park, Weston Court 45-47, Cromwell Range, Manchester',
 '1, 2, 3, 5, 7, 8, 9, 10 and 11 Edges Farm Close, Westhoughton, Bolton (BL5 2QY)',
 '406-408 Wilmslow Road, Manchester (M20 3BD)',
 '48-52 Floodgate Street, Birmingham (B5 5SL)',
 'Apartments 1-16, 1 Larke Rise and Apartments 1-12, 2 Larke Rise, Manchester (M20 2UL)',
 '45-47 Chorlton Street, Manchester (M1 3FY)',
 "10, 12, 18, 28, 30, 32 and 36 St Ronan's Road and 81 Steade Road, Sheffield",
 '67-77 Hanbury Street, London (E1 5JP)',
 '84 to 102 (even) Charing Cross Road, 24 Cambridge Circus and 115 to 129 (odd) Shaftesbury Avenue, London',
 '1, 2, 3, 4, 9, 10, 11, 12, 13 and 14 Strawberry Park, Whitby, Ellesmere Port',
 'Apartments 1-12, 14-25, 27-32 and 34, College Gate, Salisbury Close, Crewe (CW2 6NW)',
 '110-120 (even) Moss Lane, 1-11 (odd) and 10, 25, 27, 37 and 41 Redshank Place and 2 and 6 Teal Drive, Sandbach',
 '18-22 (Even) Rimmer Grove (CW11 3AF), 2 Cossack Walk (CW11 3AH), 6-14 (even) Harry Mortimer Way (CW11 3AJ), 6, 10-20 (even) Peter Fletcher Crescent (CW11 3AP), 2, 19, 31 & 32 Haliwell Court (CW11 3AQ), 6-10 (even), 16-18 (even), 19-25 (odd) Teddy Gray Avenue (CW11 3AR) and 1-5 (odd) Foundry Lane, Sandbach (CW11 3JP)',
 '262 to 274 Lewisham High Street, London (SE13 6JX)',
 'part of Windsor House, 42 to 50 (even) Victoria Street, London',
 'Units 1-3, Tregoniggie Industrial Estate, Falmouth',
 'Unit 5, 163-167 Bermondsey Street, London (SE1 3UW)',
 '204-206 Queenstown Road, London (SW8 3NR)',
 '725-731 Lordship Lane, London (N22 5JX)',
 'Apartments 1-6, Armstrong House, Armstrong Drive, Worcester (WR1 2GA) and Apartments 1-22, Chamberlain House, Armstrong Drive, Worcester, (WR1 2GB)',
 'Rockwood House 9-17 (odd), Perrymount Road, Haywards Heath (RH16 3TW)',
 '2 to 10 (even) Thurcaston Road, Altrincham (WA14 5XG)',
 'Apartment 30, The Gateway, 11-21 Broughton Road, Salford (M6 6LS)',
 '133 to 163 (odd numbers) Lees Street and Land and buildings on the East side of Lees Street, Gorton',
 'Plots 51 to 55 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Apartment 5, Albert Vaults, 169-171 Chapel Street, Salford (M3 6AD)',
 '55-67 Cricklade Road, Swindon (SN2 1AA)',
 'Flats 1-9 (inc), Compass Court, Welby Road, Birmingham (B28 8HP)',
 '16 to 20 (even), Boston Place, London (NW1 6ER)',
 'Units 1 to 11, Cowley Mill Trading Estate, Longbridge Way, Cowley, Uxbridge (UB8 2YG)',
 '1 to 12 and 14 to 37 Anderton Grange, Hollands Road, Northwich (CW9 8PY)',
 'Units 1 to 4 (inclusive) Risley Road, Risley, Warrington WA3 6QU',
 '91 to 95 (odd) Mill Street, Macclesfield (SK11 6NN)',
 'Heritage Court, 82-86 Blackheath Road, London, SE10 8DA',
 '368-370 Oxford Street, London (W1C 1JW)',
 'Ground Floor Retail Premises, The Freeman Building, 131-143 Clapham Road, London',
 '156 to 170 (even), Streatham High Road, (SW16 1BJ)',
 "64-72 Queen's Road, London (SE15 2QW)",
 '50 to 56 (even numbers) Westbourne Grove, London (W2 5SH)',
 'Units 1-9 Silverdale Industrial Estate',
 'Flat 4, Ovington Court, 197-205 Brompton Road, London (SW3 1LB)',
 '7-8 CONDUIT STREET, LONDON W1S 2XD',
 '15-27 (odd), Castor Street, Liverpool (L6 5AT)',
 '1308-1314 Bristol Road South, Northfield, Birmingham (B31 2TF)',
 'Auchinleck House, 3-11, 16, 17 and 19 Islington Row, 152-164 Broad Street and 1-11 and 17-39 Auchinleck Square, Edgbaston, Birmingham',
 '112 and 113 Bradford Street, Apartments 100 to 127 (inclusive), Kinvara Heights, 114 Bradford Street, Apartments 37, 39 and 40, Kinvara Heights, 158 Cheapside, Apartment 94, Kinvara Heights, 3 Rea Place, Apartments 47 to 49 (inclusive), 56 to 59 (inclusive), 66 to 69 (inclusive), 76 to 79 (inclusive), 86 to 89 (inclusive) and 96 to 99 (inclusive) Kinvara Heights, 7 Rea Place, Birmingham',
 'Grosvenor House 21-33, Newarke Street, Leicester (LE1 5SP)',
 '1 to 9 (inclusive) Schooner Street, Barrow-in-Furness (LA14 2SQ)',
 '16-24 Poplar Road, Solihull (B91 3AB)',
 '48-52 Allcock Street, Birmingham (B9 4DY)',
 '93-96 Floodgate Street, Digbeth, Birmingham (B5 5SR)',
 '21-31 (odd), Regents Way, Sutton Coldfield (B75 7NW)',
 'Flats 1 to 28, 30 Pavilion Close, Leicester and parking spaces (LE2 7JP)',
 '7, 8 and 22 Wolsey Island Way, Apartments 1-4, 4 Wolsey Island Way and Apartments 1-1 26 Wolsey Island Way, Leicester',
 '71-109 (odd) and 125-147 (odd) Park Spring Drive, Sheffield (S2 3QS)',
 '80 to 92 (even numbers), Mansell Street, London',
 '101 to 117 (odd numbers) Finsbury Pavement, London (EC2A 1RS)',
 '2-20 (even), Dimmer Drive, Wilton, Salisbury (SP2 0FL)',
 '131 to 151 (Odd) Great Titchfield Street, London (W1W 5BB)',
 'Flat 4, 1-3 Cornwall Gardens, London (SW7 4AJ)',
 'RSVP, 2-6 Cambridge Street, Sheffield (S1 4HP)',
 '8 Broadway House, 480-486 (Even) Bromley Road, Downham',
 '24 to 28 (even) Clapham High Street, Clapham (SW4 7UR)',
 '138 to 140 (Even) Nathan Way, The Triangle Day Nursery, 10 Kellner Road and 61 Kellner Road, London',
 '148 to 154 (even) Streatham High Road, (SW16 1BJ)',
 "9 to 12 St Anne's Court London (W1F 0BB)",
 '88-89 Queens Gate, London (SW7 5AB)',
 'Land adjoining Unit 5-8, Whitehall Industrial Estate, Whitehall Road, Leeds (LS12 5JB)',
 "land at the rear of 1 to 11 Queen's Mews, London",
 '52 to 58 (even numbers) Commercial Road, Stepney, London, (E1 1LP) and land at the back',
 '3 Trevenner Lane, Marazion  and garage (TR17 0BL)',
 '15-16 King Street, Truro (TR1 2RQ)',
 'B & Q Plc, Trevenson Road, Camborne Retail Park, Pool, Redruth (TR15 3PS)',
 'land lying to the south-east of 17-28,Rothesay Court, Cumberland Place, London (SE6 1NB)',
 '1-14 St Edmonds Court, Tudor Street, Exeter (EX4 3DW)',
 '1-11, Coney Court, Haven Road, Exeter (EX2 8DA)',
 'Strikers, 26-28 Longbrook Street, Exeter (EX4 6AE)',
 '161-165 Balham High Road, London (SW12 9AU)',
 "11 and 12 St James's Square and 14 to 17 Ormond Yard, London",
 'Second Floor Cupboard And Lobby, 7-12 Gadwall Rise, Hayle (TR27 6GP)',
 'Flats 23-44, Chy Kensa, Jubilee Drive, Redruth (TR15 1DY)',
 'Units 1-18, Kestrel Business Park, Kestrel Way, Sowton Industrial Estate, Exeter (EX2 7JS)',
 'Units 8, 9, 10 and 11, 58 to 60 Woodgate, Loughborough',
 'Flats 1 to 6 (inclusive), 1 Barrow Road, Sileby, Loughborough (LE12 7LW)',
 'Land at the rear of 3 to 7 Woodbridge Road, Leicester, (LE4 7RH),',
 '368 to 374 (even numbers) Holloway Road and 2 to 14 (even numbers) Tollington Road',
 'Units 1-4, Kingstown Broadway, Kingstown Industrial Estate, Carlisle (CA3 0HA)',
 '1-20, Merryfield Court, 411 Battersea Park Road, London (SW11 5BF)',
 '65-68 Leadenhall Street, London and 98 Fenchurch Street, London (EC3A 2AD)',
 'Parking Spaces 19 and 20 at the back of 52 to 64 (Even Numbers) Lancaster Road, Enfield',
 '44 to 52 (even numbers) Market Place and 1 to 10 Swan Walk, Romford',
 'Kirkland House, 11 to 15 (odd) Peterborough Road, (HA1 2XT)',
 '48-52 Silver Street, Salisbury (SP1 2NE)',
 'Plot 181 And Plots 189-191, Swindon Road, Lydiard Tregoze, Swindon',
 '2-44 (even) Frederick Street, 41, 43 and 45 Frederick Street, 407-449 (odd) Brook Street, 16, 18 and 22 Arthur Street, 404-420 (even) Price Street and land on the North side of Price Street, Birkenhead',
 '47-49 Derby Road, Huyton, Liverpool (L36 9UQ)',
 'the former site of The Woodside Hotel, 2-6 (even) Chester Street, Birkenhead (CH41 5DG)',
 'Plots 5644 to 5648 (inclusive) Concorde Village, Chertsey Road, Feltham',
 'Plots 1706 to 1711 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Plots 1631 to 1634 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Plots 2901 to 2910, Concorde Village, Chertsey Road, Feltham',
 'Plots 4998 and 5005 to 5008 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Plots 4110 to 4114 (inclusive), Concorde Village, Chertsey Road, Feltham',
 'Flat 44, Eaton House, 39-40 Upper Grosvenor Street, London (W1K 2NG)',
 '422 to 436 (even numbers) Holloway Road, 16 to 40 (even numbers) Enkel Road and 73 Roden Street',
 '21-22 Lovat Lane, London (EC3R 8EB)',
 '41 to 47 (odd numbers) Inverness Terrace, London (W2 3JN)',
 '15,17 and 19 Church Road, 3 to 6 Hillside Cottages and 1,2 and 3 Banbury Cottages, Church Road, Stanmore',
 '168-178 Shoreditch High Street, London (E1 6HU)',
 'Site 8 Victory Road and 172-173 Chemical Road, West Wilts Trading Estate, Westbury (BA13 4JN)',
 '3 to 5 (Odd) Rylane, 48 to 52 (Even) East Wichel Way, and 24 to 26 (Even) Holne Road, Swindon and garage, 22 Holne Road, Swindon',
 '19-35 (odd), Loder Lane, Wilton, Salisbury (SP2 0FT)',
 'Flats 1-24 (inclusive),St. Marks Court, Devonshire Road, Oxton (CH43 4SY)',
 '96 to 100 (even) London Road, Liverpool',
 'parts of the basement, ground, mezzanine, first, second, third and fourth floors and the lift shaft extensions and mechanical plant areas including the roof area itself and so far as included within such extensions and areas, all of which land forms part of the Atlantic Pavilion, Albert Dock',
 '115 to 145 Drillfield Road, Northwich, Cheshire and parking spaces (CW9 5HU)',
 '86-88 Church Street, Warrington (WA1 2TF)',
 '6-26 (even) and 13 Bellemonte Road, Frodsham',
 'Parking Spaces, 5 to 27 (odd) Long Lane, London, (SE1 4PF)',
 'Garage 6, 44-46 Elystan Place, London (SW3 3JU)',
 '8-12 (Even), Leeke Street, London (WC1X 9HT)',
 '18-20 Hillcrest Road, London (W5 1HJ)',
 'The Nags Head Shopping Centre, Holloway Road and 402 and 406 Holloway Road, 16 to 22 (even) Seven Sisters Road, and The Covered Market, Hertslet Road, Hollway',
 'Flat 1, Denham Court, 63-71 (odd) Fairfax Road',
 'Flat 1, 115 to 121 Finchley Road, London (NW3 6HY)',
 '65-73 Staines Road, Hounslow (TW3 3HW)',
 '17-18 High Street, Colchester (CO1 1DB)',
 '1(Garage),7, 8, 9, 10, 11, 12, 13, 14 and 6 St Edmunds Court, Harwich Road, Colchester',
 '33-39 Southcote Road, Bournemouth (BH1 3SH)',
 '207 to 215 (odd) Old Christchurch Road, Bournemouth (BH1 1JZ)',
 'Old Orchard, 39-61 High Street, Poole (BH15 1AE)',
 'Apartments 1 to 12, 12A and 14, The Chambers, 32 York Road, Sale (M33 6DA)',
 'Flats 1-24, Commodore House, Timberlog Lane, Basildon (SS14 1NY)',
 '645-647 Southchurch Road, Southend-on-Sea (SS1 2PN)',
 '134 to 146 (even) High Road, Benfleet (SS7 5LD)',
 '137-139 Somerford Road, Christchurch (BH23 3PY)',
 'Units 1-4 (inclusive), Norwich House, 11 Streatham High Road, London (SW16 1DS)',
 'Retail Unit 1-2, Thurston Road, London (SE13 7SD)',
 '81 to 87 High Holborn and 24 to 27 Eagle Street, Holborn, London',
 'Flat 41, Viceroy Court, 58-74 Prince Albert Road, London (NW8 7PR)',
 '3, 5 and 7 Coat Pit Lane, 43 to 53 (odd) Wigan Road and land and buildings lying to the North of Wigan Road, Atherton',
 '33-34 Cornwall Terrace Mews, London (NW1 5LL)',
 '4 Harvest Lodge, 53 to 55 Penton Street, London (N1 9PY)',
 '1-9 Langford Place and 1-13 Stonham Place, Chelmer Road, Chelmsford and other land',
 '37-59 (odd), Lambeth Road, Colchester (CO2 7FG)',
 '67 to 119 (odd), Broadhurst Place, Basildon (SS14 2FA)',
 'Unit 225, Centric House, 15-33 Moorfields, Liverpool (L2 2BS)',
 'Hallmark Hotel Liverpool 113-115 and 117-125 Mount Pleasant, Liverpool (L3 5TF)',
 'Room 605, Seel Street Hotel, 42-46 Seel Street, Liverpool (L1 4BE)',
 'Unit 519, Centric House, 15-33 Moorfields, Liverpool (L2 2BS)',
 '171-175 High Road, Ilford (IG1 1DG)',
 'Retail Premises, 32-34 Henry Street, Liverpool (L1 5BS)',
 '121-141 Westbourne Terrace, London (W2 6JR)',
 "128 to 136 (even) Wardour Street and 16 and 16A St Anne's Court, London",
 '136-137 High Street, Colchester (CO1 1SP)',
 '1-3 Church Street, Altrincham (WA14 4DB)',
 '60-61 Barnes High Street, London (SW13 9LF)',

In [79]:
single_address = multi_address['property_address'].to_list()[0]
print(single_address)

2-24 (even) Miller Way, 15-25 Hammonds Drive (odd) and 1-19 Rudd Close (odd) Fengate, Peterborough

In [5]:
ocod_data['property_address'].str.contains("fields", case = False).sum()

292

In [ ]:
road_name_regex = "(( \w+)('s)?)+ (road|lane|street|way|avenue|close|drive|hill|place|terrace|crescent|gardens|square|walk|grove|mews|row|centre|view|cottages|yard|bank|rise|gate|parade|common|cross|village|mill|station|corner|croft|meadow|fields|quay|wood|field|fold|passage|( \w+)+(way|gate,)|knightsbridge)"

In [183]:
search_pattern = re.compile("^\d+\d*")
print(search_pattern)
match = [re.search(search_pattern, x) for x in ocod_data['property_address'].str.lower().to_list()]

re.compile('^\\d+\\d*')

In [184]:
i = 0
for x in match:
    i= i + int(x != None)
i

34130

In [246]:
ocod_data['property_address'][np.array(match)!=None]

NameError: name 'match' is not defined

In [135]:
ocod_data[['property_address', 'flat_tag']].rename(columns = {'property_address':'text'}).to_csv('/tf/empty_homes_data/property_address_only.csv')

In [272]:
ocod_data[['property_address', 'flat_tag']].shape

(94088, 2)

In [77]:
#This chunk extracts the unit ID's of multi properties but does not work out if they are odd or even's
list_of_property_ranges = re.findall(r'\d+-\d+', single_address)
print(list_of_property_ranges)
separate_numbers = [[int(x) for x in re.findall(r'\d+', x)] for x in list_of_property_ranges]

[list(range(x[0], x[1]+1)) for x in separate_numbers]

['2-24', '15-25', '1-19']

[[2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24],
 [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

In [82]:
re.findall(r'(odd|even|all)', single_address)

['even', 'odd', 'odd']

In [30]:
#class counts after first classifying attempt
class_by_district = ocod_data.groupby(['class', 'district']).size()
class_by_district.to_csv ('class_by_district.csv')

In [31]:

postcode_counts_ocod = ocod_data[(ocod_data['class']=='unknown' )].groupby('postcode').size().reset_index(name = "ocod_counts")

In [32]:
postcode_matches = pd.merge(postcode_counts_voa, postcode_counts_ocod, on = "postcode", how = "outer")
postcode_matches['post_area'] = postcode_matches['postcode'].str.extract('([^\d]+)')
postcode_matches['non_commercial'] = postcode_matches['business_counts'].isna() & postcode_matches['ocod_counts'].notna()

In [33]:

post_area_list = postcode_matches[postcode_matches['post_area'].notna()]['post_area'].tolist()
post_area_list = np.unique(post_area_list)
post_area_list

array(['AL', 'B', 'BA', 'BB', 'BD', 'BH', 'BL', 'BN', 'BR', 'BS', 'C',
       'CA', 'CB', 'CF', 'CH', 'CM', 'CN', 'CO', 'CR', 'CT', 'CV', 'CW',
       'DA', 'DE', 'DG', 'DH', 'DL', 'DN', 'DT', 'DY', 'E', 'EC', 'EN',
       'EX', 'FY', 'G', 'GL', 'GU', 'HA', 'HD', 'HG', 'HP', 'HR', 'HU',
       'HX', 'IG', 'IP', 'KT', 'L', 'LA', 'LD', 'LE', 'LL', 'LN', 'LS',
       'LU', 'M', 'MD', 'ME', 'MK', 'N', 'NE', 'NG', 'NH', 'NN', 'NP',
       'NR', 'NW', 'OL', 'OX', 'PE', 'PL', 'PO', 'PR', 'RG', 'RH', 'RM',
       'S', 'SA', 'SE', 'SG', 'SH', 'SK', 'SL', 'SM', 'SN', 'SO', 'SP',
       'SR', 'SS', 'ST', 'SW', 'SY', 'TA', 'TD', 'TF', 'TH', 'TN', 'TQ',
       'TR', 'TS', 'TW', 'UB', 'W', 'WA', 'WC', 'WD', 'WF', 'WN', 'WR',
       'WS', 'WV', 'YO'], dtype='<U2')

In [34]:
postcode_matches['conservative_domestic'] = postcode_matches['ocod_counts'].fillna(0)-postcode_matches['business_counts'].fillna(0)
postcode_matches['conservative_domestic'] = np.where(postcode_matches['conservative_domestic']<0, 0 , postcode_matches['conservative_domestic'])

In [35]:
postcode_matches.sort_values(by=['ocod_counts'], ascending=False)

,postcode,business_counts,ocod_counts,post_area,non_commercial,conservative_domestic
350614,SE1 7UT,19,577.0,SE,False,558.0
218794,LS7 1NJ,1,178.0,LS,False,177.0
122879,E1 0HJ,19,78.0,E,False,59.0
350601,SE1 7RY,4,76.0,SE,False,72.0
199845,LE3 5HU,1,41.0,LE,False,40.0
...,...,...,...,...,...,...
470045,YO8 9TQ,1,NaN,YO,False,0.0
470046,YO8 9UB,2,NaN,YO,False,0.0
470047,YO8 9UG,5,NaN,YO,False,0.0
470048,YO8 9UH,2,NaN,YO,False,0.0
470049,YO90 1UU,1,NaN,YO,False,0.0

In [36]:
#number of OCOD with no business in postcode
postcode_matches[postcode_matches['business_counts'].isna() & postcode_matches['ocod_counts'].notna()][['ocod_counts']].sum()

ocod_counts    0.0
dtype: float64

In [37]:
#number of OCOD with with business in postcode
postcode_matches[postcode_matches['business_counts'].notna() & postcode_matches['ocod_counts'].notna()][['ocod_counts']].sum()

ocod_counts    25966.0
dtype: float64

In [38]:
print('Total ocod ' + str(postcode_matches['ocod_counts'].sum() )+
    ' Conservative domestic counts ' + str(postcode_matches['conservative_domestic'].sum()))

Total ocod 25966.0 Conservative domestic counts 2728.0

In [39]:
ocod_data.groupby('proprietor_name_(1)').agg('size')

proprietor_name_(1)
(CR) CONSTABLE REAL B.V.         1
1 BL EC2 LTD                     1
1 BRIDGE STREET LIMITED          1
1 CAPITAL LIMITED                1
1 CHESHAM CLOSE LIMITED          1
                                ..
ZUSHCU PROPERTIES PVT LIMITED    4
ZUSHCU PROPERTIES PVT LTD        1
ZWAN HOLDINGS LIMITED            1
ZWIKKE LIMITED                   3
ZYLAND INTERNATIONAL LIMITED     4
Length: 31809, dtype: int64

In [40]:
address_list = ocod_data['property_address'].tolist()[0:100]
parsed_address_list_att = address_parser_att(address_list)
address_errors = pd.DataFrame([x.to_dict() for x in parsed_address_list_att]).drop(
    ["Orientation", "GeneralDelivery", "EOS"], axis  = 1)
address_errors["address"] = address_list
address_errors

NameError: name 'address_parser_att' is not defined

In [54]:
import io
import zipfile


post_area_id = 'AL'

target_post_area = "Data/multi_csv/ONSPD_NOV_2021_UK_" + post_area_id +".csv"

with zipfile.ZipFile("/tf/empty_homes_data/" + "ONSPD_NOV_2021_UK.zip") as zf:
    with io.TextIOWrapper(zf.open(target_post_area), encoding="utf-8") as f:
        ONSPD = pd.read_csv(f)

temp_postcode_matches = postcode_matches[postcode_matches['post_area']==post_area_id]

temp_postcode_matches

       postcode  business_counts  ocod_counts post_area
42      AL1 1AW              1.0          NaN        AL
43      AL1 1BX              7.0          NaN        AL
44      AL1 1BY              4.0          NaN        AL
45      AL1 1BZ             21.0          NaN        AL
46      AL1 1DQ              2.0          NaN        AL
...         ...              ...          ...       ...
470107  AL8 6UB              NaN          1.0        AL
470108  AL9 5RH              NaN          1.0        AL
470109  AL9 7QG              NaN          1.0        AL
470110  AL9 7RX              NaN          1.0        AL
470111  AL9 7TD              NaN          1.0        AL

[1805 rows x 4 columns]

In [29]:
import json
# Opening JSON file
#f =open("/tf/empty_homes_data/exported_results_2022-02-17T08_14_04.244Z.json") #download button
f =open("/tf/empty_homes_data/exported_results_2022-02-21T13_58_40.285Z.json")  #aggregate and download button
   
# returns JSON object as 
# a dictionary
data = json.load(f)
   
# Iterating through the json
# list
#for i in data['emp_details']:
#    print(i)
   
# Closing file
#f.close()

I need to create a dataset which has the following structure

[("Tokyo Tower is 333m tall.", [(0, 11, "BUILDING")])]

That is each observation is an element of a list

each element is a two part tuple where the first part is a text string and the second part is a list
each element of this list is a three part tuple where
part1 the beggining of the span
part 2 the end of the span
part three the class of the span
  
This is shown on the spacy docs https://spacy.io/usage/training#training-data

In [30]:

datapoint_id_list = [x['datapointId'] for x in data]
print(max(datapoint_id_list))

94087

In [90]:


def is_overlap_function(a,b):
    #identifies any overlapping tags.
    #takes two dictionaries and outputs a logical value identifying if the tags overlap
     start_overlap = (b['start'] >= a['start']) & (b['start'] <= a['end']) 
     end_overlap = (b['end'] >= a['start']) & (b['end'] <= a['end']) 
     return (start_overlap | end_overlap)

    
def remove_overlapping_spans(list_of_labels_dict):
    
    
    span_length = [x['end']-x['start'] for x in list_of_labels_dict]
    #produces a list of indices indicating the first element of a list in a pair that overlaps
    #this means if (start, end) [(0,3), (4,7), ),(5,9)], the value returned would be 1 because indices 1 and 2 overlap.
    is_overlap_list = [x for x in [*range(0, len(list_of_labels_dict)-1)] if
                  is_overlap_function(list_of_labels_dict[x],list_of_labels_dict[x+1])]

    #identify the index of the list to be deleted
    del_list =[]
    for i in is_overlap_list:
         pair_overlaps = is_overlap_function(list_of_labels_dict[i],list_of_labels_dict[i+1])
         if span_length[i] > span_length[i+1]:
            del_list = del_list + [i+1]
         else:
            del_list = del_list + [i]
        

    no_overlaps_list = [i for j, i in enumerate(list_of_labels_dict) if j not in del_list]
    return no_overlaps_list


def remove_overlapping_spans2(list_of_labels_dict):
    #This function iterates through the list pairwise checking to see if there are overlaps
    #this function builds on the previous version which checked for overlaps in one go
    #but didn't consider that a single entity might overlap several subsequent entities
    #example A (start = 0, end = 20), B (start = 3, end = 10), C (start = 12, end = 20)
    #A overlaps B and C even though B and C do not overlap, as a result only A should remain
    
    i = 0
    j = i+1
    while j < len(list_of_labels_dict):
        
        
        #check if there is overlap
        pair_overlaps = is_overlap_function(list_of_labels_dict[i],list_of_labels_dict[j])
        if pair_overlaps:
            #get index of smallest span
            span_a = list_of_labels_dict[i]['end'] - list_of_labels_dict[i]['start']
            span_b = list_of_labels_dict[j]['end'] - list_of_labels_dict[j]['start']

            if span_a > span_b:
                list_of_labels_dict.pop(j)
            else:
                list_of_labels_dict.pop(i)
        else:
            i = i +1
            j = i +1
        
    return list_of_labels_dict

In [91]:
print(data_labels_dict[1160]['labels'])
remove_overlapping_spans2(data_labels_dict[1160]['labels'])

[{'start': 19, 'end': 48, 'label': 'street_name'}, {'start': 34, 'end': 48, 'label': 'street_name'}, {'start': 90, 'end': 104, 'label': 'street_name'}, {'start': 126, 'end': 140, 'label': 'street_name'}, {'start': 142, 'end': 156, 'label': 'street_name'}, {'start': 178, 'end': 192, 'label': 'street_name'}, {'start': 214, 'end': 228, 'label': 'street_name'}, {'start': 286, 'end': 300, 'label': 'street_name'}]

[{'start': 19, 'end': 48, 'label': 'street_name'},
 {'start': 90, 'end': 104, 'label': 'street_name'},
 {'start': 126, 'end': 140, 'label': 'street_name'},
 {'start': 142, 'end': 156, 'label': 'street_name'},
 {'start': 178, 'end': 192, 'label': 'street_name'},
 {'start': 214, 'end': 228, 'label': 'street_name'},
 {'start': 286, 'end': 300, 'label': 'street_name'}]

In [32]:


import random
import operator #used for sorting the label dictionaries by start point. This is the basis for removing overlaps

random.seed(10)
randomlist = random.sample(datapoint_id_list, 5000)
#print(randomlist)
#randomlist.pop(54)
data_and_labels = []
data_labels_dict = []

count_it = 0
for i in randomlist:
    count_it += 1
    if count_it % 100 == 0: 
        print('count = {}'.format(count_it))
        
    single_id_index = np.where(np.array(datapoint_id_list)==i)
    ##these labels are in tuple form
   # list_of_labels = [(data[x]['start'], data[x]['end'], data[x]['label']) for x in single_id_index[0].tolist()]
    
    ##these labels are in dictionary form
    list_of_labels_dict = [{'start': data[x]['start'], 'end':data[x]['end'], 'label': data[x]['label']} for x in single_id_index[0].tolist()]
    
    #this inplace sorting using operator orders the dictionary by the start point. ties are automatically broken
    #it required the operator library
    list_of_labels_dict.sort(key=operator.itemgetter('start'))
    
    list_of_labels_dict = remove_overlapping_spans2(list_of_labels_dict)

    #create the NER dataset structure shown on the spacy website
   # data_and_labels = data_and_labels + [ ( ocod_data['property_address'][i], list_of_labels ) ]
    #create a list of dictionaries using a similar structure to save as a json
    data_labels_dict = data_labels_dict + [
        {
            'text' : ocod_data['property_address'][i],
            'labels' : list_of_labels_dict
        }
    ]

count = 100
count = 200
count = 300
count = 400
count = 500
count = 600
count = 700
count = 800
count = 900
count = 1000
count = 1100
count = 1200
count = 1300
count = 1400
count = 1500
count = 1600
count = 1700
count = 1800
count = 1900
count = 2000
count = 2100
count = 2200
count = 2300
count = 2400
count = 2500
count = 2600
count = 2700
count = 2800
count = 2900
count = 3000
count = 3100
count = 3200
count = 3300
count = 3400
count = 3500
count = 3600
count = 3700
count = 3800
count = 3900
count = 4000
count = 4100
count = 4200
count = 4300
count = 4400
count = 4500
count = 4600
count = 4700
count = 4800
count = 4900
count = 5000

In [54]:
data_labels_dict[4455]

{'text': 'flat 1 to 12 and 14 to 37, 10 archers road, southampton (so15 2yd)',
 'labels': [{'start': 0, 'end': 4, 'label': 'unit_type'},
  {'start': 5, 'end': 11, 'label': 'unit_id'},
  {'start': 10, 'end': 16, 'label': 'unit_id'},
  {'start': 18, 'end': 24, 'label': 'unit_id'},
  {'start': 27, 'end': 29, 'label': 'street_number'},
  {'start': 30, 'end': 42, 'label': 'street_name'},
  {'start': 44, 'end': 55, 'label': 'city'},
  {'start': 57, 'end': 65, 'label': 'postcode'}]}

In [82]:
data_labels_dict2 =  data_labels_dict
del_list = [1160,2652,3015,3861,3897,4455, 4485,4859]
data_labels_dict2  = [i for j, i in enumerate(data_labels_dict2) if j not in del_list]
print(data_labels_dict[1160])
print(data_labels_dict[1160]['text'][19:48])
print(data_labels_dict[1160]['text'][34:48])

{'text': '1-12 (inclusive) 1 chadwick place balaclava road, land and buildings on the north side of balaclava road, 1-12 (inclusive) 91 chadwick place, balaclava road, 1-12 (inclusive) 57 balaclava road, 1-12 (inclusive) 51 balaclava road and 1-6 (inclusive) and 8-12 (inclusive) cavendish hall, balaclava road, surbiton', 'labels': [{'start': 19, 'end': 48, 'label': 'street_name'}, {'start': 34, 'end': 48, 'label': 'street_name'}, {'start': 90, 'end': 104, 'label': 'street_name'}, {'start': 126, 'end': 140, 'label': 'street_name'}, {'start': 142, 'end': 156, 'label': 'street_name'}, {'start': 178, 'end': 192, 'label': 'street_name'}, {'start': 214, 'end': 228, 'label': 'street_name'}, {'start': 286, 'end': 300, 'label': 'street_name'}]}
chadwick place balaclava road
balaclava road

In [76]:
#data_labels_dict2 =  data_labels_dict

jason_test_data ={
     "name": "test json upload",
     "description": "example labelling structure",
     "fields": [
         {"name": "text", 
          "data_type": "text"
         },
         {"name": "labels", 
          "data_type": "character_offsets"}
     ],
     "data": data_labels_dict2
}

import requests 

url = "https://api.humanloop.com/datasets"

# replace payload with your actual dataset...
payload= json.dumps(jason_test_data)
headers = {
  'X-API-Key': 'sk_50bbe815a3860835d2bbfcdae33e69d2',
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

{"id":1168,"attempted":4992,"succeeded":4851,"msg":"4851 data points uploaded. 141 data points discarded as duplicates."}