In [4]:
import pandas as pd

In [48]:
from deepparse.parser import AddressParser

address_parser = AddressParser(model_type="bpemb", device=0)
address_parser_att = AddressParser(model_type="bpemb", attention_mechanism=True)

Loading the embeddings model
Loading the embeddings model

# Create example addresses

This block is designed to give a structured example of how the parser's fail.

In [49]:
flat_type = "Flat"
flat_number_1 = "8"
flat_number_2 = "C"
building_name = "Easting Mansions"
street_number = "23"
street_number_2 = "23-26"
street_name = "Broadfield Road"
postcode = "SW56 1ZZ"
city = "London"
country = "England"

In [50]:

house_1 = ', '.join([f'{street_number} {street_name}', postcode, city, country])
house_2 = ', '.join([f'{street_number} {street_name}', postcode, city])
flat_1 = ', '.join([f'{flat_type} {flat_number_1}', f'{street_number} {street_name}', postcode, city, country])
flat_2 = ', '.join([flat_number_1, f'{street_number} {street_name}', postcode, city, country])
flat_3 = ', '.join([f'{flat_number_1} {building_name}', f'{street_number} {street_name}', postcode, city, country])
flat_3 = ', '.join([f'{flat_number_1} {building_name}', f'{street_number_2} {street_name}', postcode, city, country])
flat_4 = ', '.join([f'{flat_number_1} {building_name}', street_name, postcode, city, country])

address_list = [house_1, house_2, flat_1, flat_2, flat_3, flat_4]

In [51]:
pd.DataFrame(address_list)

                                                   0
0      23 Broadfield Road, SW56 1ZZ, London, England
1               23 Broadfield Road, SW56 1ZZ, London
2  Flat 8, 23 Broadfield Road, SW56 1ZZ, London, ...
3   8, 23 Broadfield Road, SW56 1ZZ, London, England
4  8 Easting Mansions, 23-26 Broadfield Road, SW5...
5  8 Easting Mansions, Broadfield Road, SW56 1ZZ,...

In [52]:
parsed_address_list = address_parser(address_list)
address_errors = pd.DataFrame([x.to_dict() for x in parsed_address_list]).drop(
    ["Orientation", "GeneralDelivery", "EOS"], axis  = 1)
address_errors

,StreetNumber,StreetName,Unit,Municipality,Province,PostalCode
0,23,broadfield road,None,london,england,sw56 1zz
1,23 sw56,broadfield road,1zz london,None,None,None
2,sw56,broadfield road,flat 8 23,london,england,1zz
3,sw56,road,8 23 broadfield,london,england,1zz
4,8,easting mansions,23-26 broadfield road sw56,london,england,1zz
5,8,easting mansions,broadfield road sw56,london,england,1zz

As can be seen above, the basic parser is not very good

In [55]:
parsed_address_list_att = address_parser_att(address_list)
address_errors = pd.DataFrame([x.to_dict() for x in parsed_address_list_att]).drop(
    ["Orientation", "GeneralDelivery", "EOS"], axis  = 1)
address_errors

,StreetNumber,StreetName,Unit,Municipality,Province,PostalCode
0,23,broadfield road,None,london,england,sw56 1zz
1,23,broadfield road,None,None,london,sw56 1zz
2,23,broadfield road,flat 8,london,england,sw56 1zz
3,8 23,broadfield road,None,london,england,sw56 1zz
4,8,easting mansions 23-26 broadfield,road,london,england,sw56 1zz
5,8,easting mansions broadfield road,None,london,england,sw56 1zz

## VOA column headers

I can't find the VOA column headers so have had to take them from the data description pdf [here](https://voaratinglists.blob.core.windows.net/html/documents/2017%20Compiled%20List%20and%20SMV%20Data%20Specification.pdf)

In [9]:
VOA_headers_raw= ["Incrementing Entry Number", "Billing Authority Code", "NDR Community Code", 
 "BA Reference Number", "Primary And Secondary Description Code", "Primary Description Text",
"Unique Address Reference Number UARN", "Full Property Identifier", "Firms Name", "Number Or Name",
"Street", "Town", "Postal District", "County", "Postcode", "Effective Date", "Composite Indicator",
 "Rateable Value", "Appeal Settlement Code", "Assessment Reference", "List Alteration Date", "SCAT Code And Suffix",
 "Sub Street level 3", "Sub Street level 2", "Sub Street level 1", "Case Number", 
 "Current From Date", "Current To Date", 
]

#set to lower and replace spaces with underscore to turn the names into appropriate column names
VOA_headers = [x.lower().replace(" ", "_") for x in VOA_headers_raw]

Using the attention mechanism dramatically improves the quality of the results, but there are still some substantial issues

In [29]:
test =  pd.read_csv('/tf/empty_homes_data/' +
                    'uk-englandwales-ndr-2017-listentries-compiled-epoch-0029-baseline-csv.csv',
                   sep = "*",
                   encoding_errors= 'ignore',
                    header=None,
                   names = VOA_headers[1:],
                    usecols = list(range(1,28))
                   )

<ipython-input-29-bde94ae726ae>:1: DtypeWarning: Columns (1,2,6,12,13,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  test =  pd.read_csv('/tf/empty_homes_data/' +

In [26]:
len(VOA_headers[1:])

27

In [30]:
test

,billing_authority_code,ndr_community_code,ba_reference_number,primary_and_secondary_description_code,primary_description_text,unique_address_reference_number_uarn,full_property_identifier,firms_name,number_or_name,street,...,appeal_settlement_code,assessment_reference,list_alteration_date,scat_code_and_suffix,sub_street_level_3,sub_street_level_2,sub_street_level_1,case_number,current_from_date,current_to_date
0,235,NaN,3000837,MH,SURGERY AND PREMISES,4159370000,"MEDICAL CENTRE, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,MEDICAL CENTRE,ABBEYFIELDS,...,NaN,2.345050e+10,01-JUL-2020,436G,NaN,NaN,NaN,3.427498e+10,01-JUL-2020,NaN
1,235,NaN,3000449,EL,SCHOOL AND PREMISES,8871511000,"ELSTOW SCHOOL, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,ELSTOW SCHOOL,ABBEYFIELDS,...,NaN,2.038070e+10,11-MAR-2019,159G,NaN,NaN,NaN,3.334318e+10,11-MAR-2019,NaN
2,235,NaN,3001255,IF,FACTORY AND PREMISES,287299011,"5, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,5,ADAMS CLOSE,...,NaN,1.574437e+10,NaN,096G,NaN,NaN,NaN,2.096310e+10,01-APR-2017,NaN
3,235,NaN,1077209,IF3,WORKSHOP AND PREMISES,456757000,"WOBURN HOUSE 3, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,WOBURN HOUSE 3,ADAMS CLOSE,...,NaN,1.574433e+10,NaN,096G,NaN,NaN,NaN,2.092087e+10,01-APR-2017,NaN
4,235,NaN,1132714,IF,FACTORY AND PREMISES,287049011,"1, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,1,ADAMS CLOSE,...,NaN,2.145827e+10,06-NOV-2019,096G,NaN,NaN,NaN,3.363070e+10,06-NOV-2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553594,3545,NaN,401107480030,CO,OFFICES AND PREMISES,13296010000,"OFFICES 6-8 1ST FLOOR, WEAVERS BUSINESS CENTR...",NaN,OFFICES 6-8 1ST FLOOR,HAMLET ROAD,...,NaN,2.389786e+10,25-MAY-2021,203G,NaN,NaN,WEAVERS BUSINESS CENTRE 6,3.534281e+10,25-MAY-2021,NaN
2553595,3545,NaN,400718980142,CO,OFFICES AND PREMISES,13296011000,"ROOMS G/H, HOSTE HOUSE REFORMED CHURCH, WHITIN...",NaN,ROOMS G/H,WHITING STREET,...,NaN,2.389786e+10,25-MAY-2021,203G,NaN,NaN,HOSTE HOUSE REFORMED CHURCH,3.534281e+10,25-MAY-2021,NaN
2553596,3545,NaN,401146540116,CO,OFFICE AND PREMISES,13511012000,"UNIT 6, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 6,HOLLANDS ROAD,...,NaN,2.431176e+10,08-NOV-2021,203G,NaN,NaN,MENTA BUSINESS CENTRE 21-27,3.560966e+10,08-NOV-2021,NaN
2553597,3545,NaN,401146540114,CO,OFFICE AND PREMISES,13511008000,"UNIT 5, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 5,HOLLANDS ROAD,...,NaN,2.431171e+10,08-NOV-2021,203G,NaN,NaN,MENTA BUSINESS CENTRE 21-27,3.560965e+10,08-NOV-2021,NaN
2553598,3545,NaN,439110070082,CH1,SELF CATERING HOLIDAY UNIT AND PREMISES,13511033000,"82, SANDPIPER, ISLEHAM MARINA, FEN BANK, ISLEH...",NaN,82,FEN BANK,...,NaN,2.422966e+10,25-OCT-2021,131G,NaN,SANDPIPER,ISLEHAM MARINA,3.560971e+10,25-OCT-2021,NaN

In [60]:
test.iloc[:, 6:14]

,full_property_identifier,firms_name,number_or_name,street,town,postal_district,county,postcode
0,"MEDICAL CENTRE, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,MEDICAL CENTRE,ABBEYFIELDS,BEDFORD,ELSTOW,NaN,MK42 9GP
1,"ELSTOW SCHOOL, ABBEYFIELDS, ELSTOW, BEDFORD",NaN,ELSTOW SCHOOL,ABBEYFIELDS,BEDFORD,ELSTOW,NaN,MK42 9GP
2,"5, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,5,ADAMS CLOSE,BEDFORD,KEMPSTON,NaN,MK42 7JE
3,"WOBURN HOUSE 3, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,WOBURN HOUSE 3,ADAMS CLOSE,BEDFORD,KEMPSTON,NaN,MK42 7JE
4,"1, ADAMS CLOSE, KEMPSTON, BEDFORD",NaN,1,ADAMS CLOSE,BEDFORD,KEMPSTON,NaN,MK42 7JE
...,...,...,...,...,...,...,...,...
2553594,"OFFICES 6-8 1ST FLOOR, WEAVERS BUSINESS CENTR...",NaN,OFFICES 6-8 1ST FLOOR,HAMLET ROAD,HAVERHILL,NaN,SUFFOLK,CB9 8EE
2553595,"ROOMS G/H, HOSTE HOUSE REFORMED CHURCH, WHITIN...",NaN,ROOMS G/H,WHITING STREET,BURY ST EDMUNDS,NaN,SUFFOLK,IP33 1NR
2553596,"UNIT 6, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 6,HOLLANDS ROAD,HAVERHILL,NaN,SUFFOLK,CB9 8PU
2553597,"UNIT 5, MENTA BUSINESS CENTRE 21-27, HOLLANDS ...",NaN,UNIT 5,HOLLANDS ROAD,HAVERHILL,NaN,SUFFOLK,CB9 8PU
2553598,"82, SANDPIPER, ISLEHAM MARINA, FEN BANK, ISLEH...",NaN,82,FEN BANK,ELY,ISLEHAM,CAMBS,CB7 5SL

In [58]:
address_list = test['full_property_identifier'].tolist()[0:100]
parsed_address_list_att = address_parser_att(address_list)

Vectorizing the address

In [59]:
address_errors = pd.DataFrame([x.to_dict() for x in parsed_address_list_att]).drop(
    ["Orientation", "GeneralDelivery", "EOS"], axis  = 1)
address_errors["address"] = address_list
address_errors

,StreetNumber,StreetName,Unit,Municipality,Province,PostalCode,address
0,None,medical,None,abbeyfields elstow,bedford,centre,"MEDICAL CENTRE, ABBEYFIELDS, ELSTOW, BEDFORD"
1,None,elstow,None,abbeyfields elstow,bedford,school,"ELSTOW SCHOOL, ABBEYFIELDS, ELSTOW, BEDFORD"
2,5,adams,None,kempston,bedford,close,"5, ADAMS CLOSE, KEMPSTON, BEDFORD"
3,None,woburn,None,adams close kempston,bedford,house 3,"WOBURN HOUSE 3, ADAMS CLOSE, KEMPSTON, BEDFORD"
4,1,adams,None,kempston,bedford,close,"1, ADAMS CLOSE, KEMPSTON, BEDFORD"
...,...,...,...,...,...,...,...
95,3g,hutchison,None,anderson cars alington road eynesbury st neots,cambs,site mk0225 at,"HUTCHISON 3G SITE MK0225 AT ANDERSON CARS, ALI..."
96,None,r/o,None,ampthill road,bedford,28a,"R/O 28A, AMPTHILL ROAD, BEDFORD"
97,36,None,None,road,bedford,ampthill,"36, AMPTHILL ROAD, BEDFORD"
98,35-37,None,None,road,bedford,ampthill,"35-37, AMPTHILL ROAD, BEDFORD"
99,None,r/o,None,ampthill road,bedford,17,"R/O 17, AMPTHILL ROAD, BEDFORD"

In [61]:
address_list

['MEDICAL CENTRE, ABBEYFIELDS, ELSTOW, BEDFORD',
 'ELSTOW SCHOOL, ABBEYFIELDS, ELSTOW, BEDFORD',
 '5, ADAMS CLOSE, KEMPSTON, BEDFORD',
 'WOBURN HOUSE 3, ADAMS CLOSE, KEMPSTON, BEDFORD',
 '1, ADAMS CLOSE, KEMPSTON, BEDFORD',
 '2, ADAMS CLOSE, KEMPSTON, BEDFORD',
 '16, ALEXANDRA PLACE, BEDFORD',
 'THE PANACEA SOCIETY CAMPUS 12-16, ALBANY ROAD, BEDFORD',
 '34, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'UNITS M1 M1A M1B POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C24 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C25 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C17 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C14 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'WOOD YARD ADJ C24 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'UNIT 1 POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C2 AND C18 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C21 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C23 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C13 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C12 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C11 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C10 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C9 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C8 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'NENE VALLEY RACEWAY, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C6 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C19 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C31 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C16 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C15 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C26 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C41 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C32 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C39 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'ELL PIECE, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'WOLD FARM FISHERIES & SHOOTING, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'RIDING CENTRE AND PREMISES, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'T- MOBILE SITE 96599, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'WOLD FARM FISHERIES SHOOTING AND FESTIVAL SITE, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'UNIT 1 POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'AIRFIELD FARM WIND FARM, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'THE POLISH CAMP GATE 2, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'LAND WEST OF UNIT 1 POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'UNIT 3 THE OLD SAWMILL, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'UNIT 2 C2058 C2059 C2066 & C23 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'C4 THE POLISH CAMP, AIRFIELD ROAD, PODINGTON, WELLINGBOROUGH, NORTHANTS',
 'ESTATE OFFICE, ADAMSON COURT, ADAMSON WALK, KEMPSTON, BEDFORD',
 'GND FLR 14, ADELAIDE SQUARE, BEDFORD',
 '62, ADELAIDE SQUARE, BEDFORD',
 '56, ADELAIDE SQUARE, BEDFORD',
 '1, ADELAIDE SQUARE, BEDFORD',
 'CAR PARK, ADELAIDE SQUARE, BEDFORD',
 'CAULDWELL COMMUNITY CENTRE 51, ALTHORPE STREET, BEDFORD',
 '2, ALTHORPE STREET, BEDFORD',
 'HOLIDAY LET 37, ALTHORPE STREET, BEDFORD',
 'GND FLR 2A, ALEXANDRA ROAD, BEDFORD',
 'R/O 4, ALEXANDRA ROAD, BEDFORD',
 '29-33, ALEXANDRA ROAD, BEDFORD',
 'R/O 32, ALEXANDRA ROAD, BEDFORD',
 '32, ALEXANDRA ROAD, BEDFORD',
 '48, ALLHALLOWS, BEDFORD',
 '2, ALLHALLOWS, BEDFORD',
 '18, ALLHALLOWS, BEDFORD',
 '38, ALLHALLOWS, BEDFORD',
 '44, ALLHALLOWS, BEDFORD',
 '12A, ALLHALLOWS, BEDFORD',
 '14, ALLHALLOWS, BEDFORD',
 '28, ALLHALLOWS, BEDFORD',
 '1ST 2ND FLR 23-27, ALLHALLOWS, BEDFORD',
 '13, ALLHALLOWS, BEDFORD',
 '26, ALLHALLOWS, BEDFORD',
 '24, ALLHALLOWS, BEDFORD',
 '22, ALLHALLOWS, BEDFORD',
 '21, ALLHALLOWS, BEDFORD',
 '15, ALLHALLOWS, BEDFORD',
 '16, ALLHALLOWS, BEDFORD',
 '4, ALLHALLOWS, BEDFORD',
 '5, ALLHALLOWS, BEDFORD',
 '17-19, ALLHALLOWS, BEDFORD',
 '30, ALLHALLOWS, BEDFORD',
 '23-27, ALLHALLOWS, BEDFORD',
 '12, ALLHALLOWS, BEDFORD',
 '6, ALLHALLOWS, BEDFORD',
 '8, ALLHALLOWS, BEDFORD',
 '10, ALLHALLOWS, BEDFORD',
 '46, ALLHALLOWS, BEDFORD',
 '32-36, ALLHALLOWS, BEDFORD',
 '42, ALLHALLOWS, BEDFORD',
 '40, ALLHALLOWS, BEDFORD',
 '20, ALLHALLOWS, BEDFORD',
 'BEDFORD BUS STATION, ALLHALLOWS, BEDFORD',
 'STAGECOACH AT BEDFORD BUS STATION, ALLHALLOWS, BEDFORD',
 '7, ALLHALLOWS, BEDFORD',
 'VODAFONE SITE 32590, ALINGTON ROAD, EYNESBURY, ST NEOTS, CAMBS',
 'HUTCHISON 3G SITE MK0225 AT ANDERSON CARS, ALINGTON ROAD, EYNESBURY, ST NEOTS, CAMBS',
 'R/O 28A, AMPTHILL ROAD, BEDFORD',
 '36, AMPTHILL ROAD, BEDFORD',
 '35-37, AMPTHILL ROAD, BEDFORD',
 'R/O 17, AMPTHILL ROAD, BEDFORD']